.Ball {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.5rem;
  height: 3.5rem;
  // margin-left: .6rem;
  // margin-right: .6rem;

  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .05rem;
  color: $color-black;
  
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 50%;
  box-shadow: 1px 1px 5px -1px rgba($color-light-grey, 1);

  @include respond(tablet-small) { 
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
  }

  @include respond(tablet) { 
    width: 6rem;
    height: 6rem;
    font-size: 2.2rem;
  }

  @include respond(desktop) { 
    width: 6.5rem;
    height: 6.5rem;
    font-size: 2.6rem;
  }
}

/////////////////////////
// Animation 
/////////////////////////
.shaking {
  animation-name: wobble;
  animation-duration: 1s;
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
