.Ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: .6rem;
  margin-right: .6rem;
  // padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .05rem;
  color: $color-black;
  // background-color: blueviolet;
  border: 1px solid $color-light-grey;
  border-radius: 50%;

  @include respond(tablet-small) { 
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
  }

  @include respond(tablet) { 
    width: 6rem;
    height: 6rem;
    font-size: 2.2rem;
  }

  @include respond(desktop) { 
    width: 6.5rem;
    height: 6.5rem;
    // font-size: 2.6rem;
  }
}