.Header {
  grid-column: content-start / content-end;
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @include respond(tablet) { 
    margin-bottom: 0rem;
  }
}

.Header-title {
  font-size: 1.6rem;

  @include respond(tablet-small) { 
    font-size: 1.8rem;
  }
  @include respond(tablet) { 
    font-size: 2rem;
  }
  @include respond(desktop) { 
    font-size: 2.2rem;
  }
}

.Header-text {
  margin-left: 1%;
  color: $color-grey;
}