.Lotto {
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  
  @include respond(tablet-small) { 
    width: 50rem;
    // border: 1px solid $color-light-grey;
    // border-radius: 10px;
  }

  @include respond(tablet) { 
    width: 60rem;
    border: 1px solid $color-light-grey;
    border-radius: 10px;
  }

  @include respond(desktop) { 
    width: 65rem;
  }
}

.Ball-container {
  display: flex;
  justify-content: center;
}

.Lotto-btn {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}