.Lotto {
  display: grid;
  grid-template-columns: 3rem [content-start] 1fr [content-end] 3rem ;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  
  @include respond(tablet-small) { 
    grid-template-columns: 5rem [content-start] 1fr [content-end] 5rem ;
  }
  @include respond(tablet) { 
    // grid item from App component
    grid-column: content-start-app / content-end-app;
    grid-template-columns: 3rem [content-start] 1fr [content-end] 3rem;
    margin-top: 8rem;
    border: 1px solid $color-light-grey;
    border-radius: 10px;
  }
}

.Lotto-header-line {
  @include respond(tablet) { 
    grid-column: 1 / -1;
    height: 1px;
    margin-bottom: 3rem;
    background-color: $color-light-grey;
  }
}

.Lotto-Ball-container {
  grid-column: content-start / content-end;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.Lotto-btn {
  grid-column: content-start / content-end;

  width: 14rem;
  margin: auto;
  margin-top: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-black;

  background-color: $color-light-grey;
  border: none;
  border-radius: 5px;

  transition: color .2s ease, background-color .4s ease;
  outline: none;
  cursor: pointer;

  @include respond(tablet) { 
    width: 18rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }
  &:active {
    transform: scale(0.95);
  }
}

.btn-disable {
  background-color: $color-grey !important;
  transition: none;
  color: $color-white;
}