.Lotto {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 40px;
  border: 2px solid slategray;
  border-radius: 5px;
  background-color: white;
}

.Lotto-btn-container {
  display: flex;
  justify-content: center;
}

.Lotto-btn {
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 400;
}