$color-black: #212121;
$color-white: #ffffff;

$color-grey: #8c9194;
// $color-medium-grey: #A0A4A7;
// $color-medium-grey: #B5B8BA;
// $color-light-grey: #e9e9e9;
//$color-light-grey: #B5B8BA;
$color-light-grey: #CACCCE;

$color-yellow: #f0933d;

$color-primary: #ff2e63;
$color-primary-dark: #E00038;
